.quiz1 > button {
    padding: 10px 40px 10px 40px;
    border-radius: 4px;
  }
  
  .quiz1 > .one {
    background-color: white;
    border: 1px solid #eeeeee;
  }
  
  .quiz1 > .two {
    background-color: #34c6ef;
    border: 1px solid #34c6ef;
    color: white;
  }
  
  .quiz2 > .all {
    background-color: #34c6ef;
    color: white;
  }
  
  .quiz2 > button {
    border: none;
    border-radius: 50px;
    padding: 8px;
    background-color: #f0f0f0;
  }
  
  .quiz3 > .selected {
    background-color: black;
    color: white;
  }
  
  .quiz3 > button {
    border-radius: 50px;
    padding: 9px 13px 9px 13px;
    border: 1px solid #f0f0f0;
    background-color: white;
  }
  
  .quiz4 > .free {
    background-color: #ececec;
    border: 1px solid #ececec;
    color: #b9c0c2;
    border-radius: 3px;
    font-weight: bold;
    padding: 4px 3px 4px 3px;
  }
  
  .quiz4 > .special {
    background-color: #ff7676;
    border: 1px solid #ff7676;
    color: white;
    font-weight: bold;
    padding: 4px 3px 4px 3px;
    border-radius: 3px;
  }
  
  .quiz4 > .coupon {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid #ececec;
    padding: 4px 3px 4px 3px;
    border-radius: 4px;
  }
  
  .coupon > i {
    color: #ff7676;
    margin-right: 4px;
  }
  
  .quiz4 > .discount {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid #ececec;
    padding: 4px 3px 4px 3px;
    border-radius: 4px;
  }
  .discount > i {
    margin-right: 4px;
  }
  .quiz4{
    margin-top: 50px;
  }