.card {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background-image: url("https://images.unsplash.com/photo-1518365050014-70fe7232897f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxNTgwfDB8MXxzZWFyY2h8MjR8fHNwYWNlfGVufDB8fHx8MTczNzA1NzkyMnww&ixlib=rb-4.0.3&q=80&w=400");
    background-size: cover;
    padding-top: 200px;
    padding-left: 50px;
  
  }
  
  .card > button {
    border: 1px solid orange;
    border-radius: 20px;
    background-color: transparent;
    color: orange;
    font-weight: 700;
    padding: 10px 15px 10px 15px;
   
  }
  .card > h2 {
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .card > span {
    color: grey;
  }
  
  .card > span > i {
    margin-left: 5px;
  }